body {
  background-color: black;
  margin: 0%;
  padding-left: 16px;
  padding-right: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.wd-border-1px {
  border: solid 1px rgb(47, 51, 54);
}

.wd-padding-left-16px {
  padding-left: 16px;
}

/* Part A: search panel */
.wd-search-panel {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.wd-search-icon {
  position: absolute;
  padding-left: 15px;
  padding-top: 7px;
  color: darkgray;
}

.wd-search-panel-input {
  width: inherit;
  color: white;
  background-color: #222429;
  height: 30px;
  padding-left: 40px;
  padding-right: 20px;
  border-radius: 20px;
  border: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: bold;
}

.wd-gear-button {
  padding: 7px 10px;
}

.wd-tuiter-blue {
  color: rgb(29, 161, 242);
}

/* Part B: navigation panel */
.wd-navigation-panel {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.wd-navigation-panel-span {
  border-bottom: solid 3px rgb(29, 161, 242);
}

.wd-navigation-panel-padding-16px {
  padding: 16px;
}

.wd-navigation-panel-font {
  font-size: 15px;
  font-weight: bold;
}

a.wd-navigation-panel-active {
  color: rgb(29, 161, 242);
  text-decoration: none;
}

a.wd-navigation-panel-inactive {
  color: rgb(110, 118, 125);
  text-decoration: none;
}

.wd-divided-line {
  width: 100%;
  height: 10px;
  background-color: #222429;
  border-top: solid, 3px, rgb(110, 118, 125);
  border-bottom: solid 1px rgb(110, 118, 125);
}

/* Part C: suggested posts */

.wd-rounded-corners-all-around {
  object-fit: cover;
  border-radius: 20%;
}

.wd-suggested-posts-panel {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border: #6a7178 solid 1px;
}

.wd-topic {
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.wd-number-of-tuits {
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-topic {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.wd-bookmark-title {
  margin-block-start: 0px;
  margin-block-end: 5px;
}

.wd-circle-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.wd-circle-icon > img {
  width: 100%;
  height: 100%;
}

/*grid*/
.wd-position-absolute {
  position: absolute;
}

.wd-width-fixed-616px {
  width: 616px;
}

.wd-width-fixed-600px {
  width: 600px;
}

.wd-width-fixed-516px {
  width: 516px;
}

.wd-width-fixed-504px {
  width: 504px;
}

.wd-width-fixed-500px {
  width: 500px;
}

.wd-width-fixed-480px {
  width: 480px;
}

.wd-width-fixed-48px {
  width: 48px;
}

.wd-width-inherit {
  width: inherit;
}
.wd-width-100percent {
  width: 100%;
}

.wd-width-95percent {
  width: 95%;
}

.wd-width-85percent {
  width: 85%;
}

.wd-width-80percent {
  width: 80%;
}

.wd-width-70percent {
  width: 70%;
}

.wd-width-25percent {
  width: 25%;
}

.wd-width-20percent {
  width: 20%;
}

.wd-height-fixed-264px {
  height: 264px;
}

.wd-height-10px {
  height: 10px;
}

.wd-height-40px {
  height: 40px;
}

.wd-border-1px {
  border: solid 1px #2f3336;
}

.wd-border-top-down-1px {
  border-top: solid 1px #2f3336;
  border-bottom: solid 1px #2f3336;
}

.wd-padding-bottom-12px {
  padding-bottom: 12px;
}

.wd-padding-2px {
  padding: 2px;
}

.wd-padding-5px {
  padding: 4px;
}

.wd-padding-12px {
  padding: 12px;
}

.wd-padding-16px {
  padding: 16px;
}

.wd-padding-left-20px {
  padding-left: 20px;
}

.wd-padding-left-16px {
  padding-left: 16px;
}

.wd-padding-top-12px {
  padding-top: 12px;
}

.wd-padding-right-16px {
  padding-right: 16px;
}

.wd-margin-right-12px {
  margin-right: 12px;
}

.wd-margin-top-bottom-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wd-float-left {
  float: left;
}

.wd-z-index-1 {
  z-index: 1;
}

.wd-display-flex {
  display: flex;
}

/*font*/
.wd-font-blue {
  color: #2198e3;
}

.wd-font-grey {
  color: #6a7178;
}

.wd-font-red {
  color: #d7463c;
}

.wd-font-white {
  color: white;
}

.wd-font-bold {
  font-weight: bold;
}

.wd-font-size-20px {
  font-size: 20px;
}

.wd-font-size-13px {
  font-size: 13px;
}

.wd-rounded-corners-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.wd-rounded-corners-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
