body {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: black;
}

.list-group-item {
  background-color: black;
  color: #b0b6bd;
  padding-left: 0;
}

.list-group-item.active {
  background-color: black;
  border-color: black;
  font-weight: bold;
}

.wd-follow-panel {
  border-radius: 20px;
}
.wd-follow-panel .list-group-item {
  background-color: #141617;
}

.btn-primary {
  background-color: #2198e3;
  border-color: #2198e3;
}

.wd-list-group-item-text {
  font-size: 1.2rem;
}

.fas.fa-search {
  top: 8px;
  left: 13px;
  color: #a4a8ac;
}

.fa-stack {
  height: 1.5em;
  line-height: 1.5em;
  width: 1em;
}

.fas.fa-cog {
  top: 8px;
  right: 5px;
  color: #a4a8ac;
}

#search-bar {
  width: 93%;
  margin-bottom: 10px;
  background-color: #3c4044;
  border-color: #3c4044;
}

.nav-tabs {
  margin: 5px 0;
}
.nav-link {
  color: #52585d;
  font-weight: bold;
}

#tuit-btn {
  width: 100%;
  margin: 5px 0;
  font-weight: bold;
}

.wd-tuit-border {
  border: 1px solid #6a7178 !important;
}

#img-text {
  color: white;
  font-weight: bold;
  font-size: 2em;
  left: 10px;
  bottom: 5px;
}

.wd-tuit-title {
  color: grey;
  font-size: 1.3em;
}

.wd-tuit-author {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.wd-tuit-time {
  color: grey;
  font-size: 1em;
  font-weight: 100;
}

.wd-tuit-count {
  color: grey;
  font-size: 1em;
  font-weight: 100;
}

.wd-tuit-account {
  color: grey;
  font-size: 1em;
  font-weight: 100;
}
